{% extends "blog/base.html" %}

{% block title %}post_list.html{% endblock title %}

{% block content %}
    <h1 class="d-flex justify-content-left">List</h1>
    <ul>
        {% for post in posts %}
            <div class="card mt-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">
                        {{ post.author }}
                    </h6>
                    <p class="card-text">{{ post.publish }}</p>
                </div>
            </div>
        {% endfor %}
    </ul>
    {% include "pagination.html" with page=posts %}
{% endblock content %}