{% extends 'no_sidebar.html' %}
{% load i18n %}

{% block title %}{% trans "order_complete" %}{% endblock title %}

{% block content %}
    <h1>{% trans "order_complete" %}</h1>
    <div id="payment-method"></div>
    <button id="payment-request-button">결제하기</button>
{% endblock content %}

{% block javascript %}
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <script>
        const paymentWidget = PaymentWidget(
            "test_ck_nRQoOaPz8L9bNy6zvpW3y47BMw6v",
            PaymentWidget.ANONYMOUS
        );
        paymentWidget.renderPaymentMethods("#payment-method", {value: {{ order.get_total_cost }}});

        const paymentRequestButton = document.getElementById('payment-request-button');
        paymentRequestButton.addEventListener('click', () => {
            paymentWidget.requestPayment({
                orderId: "order-{{ order.id }}",
                orderName: "{{ order }}",
                successUrl: window.location.origin + "/ko/shop/success",
                failUrl: window.location.origin + "/ko/shop/fail"
            });
        });

    </script>
{% endblock %}